.awards-slider-wrapper {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
    justify-content: center;
}

.AwardsContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.award-slide .OurBenefetsCard {
    height: 402px;
}

.award-slide {
    flex: 0 0 calc((100% - 50px) / 3);
    width: 30.25%;
    height: 402px;
    display: flex;
}

.award-slide>* {
    width: 99%;
}

.small-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.small-container p {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    color: #1A1A1A;
}

.award-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slider-btn {
    width: 58px;
    height: 58px;
    border-radius: 8px;
    border: 2px solid #333333;
    padding: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1760px) {
    .award-slide .OurBenefetsCard {
        max-height: 402px;
    }

    .AwardsContainer {
        gap: 18px;
        height: 470px;
        overflow: hidden;
    }

}

@media (max-width: 1440px) {
    .awards-slider-wrapper {
        margin-bottom: 80px;
        gap: 50px;
    }

    .award-slide .OurBenefetsCard {
        height: 360px;
    }

    .AwardsContainer {
        height: 410px;
    }

    .award-slide {
        flex: 0 0 calc((100% - 40px) / 3);
        height: 322px;
    }

    .small-container p {
        font-size: 18px;
    }

    .award-btn {
        gap: 16px;
    }

    .slider-btn {
        width: 48px;
        height: 48px;
        border-radius: 6px;
        padding: 12px;
    }
}

@media (max-width: 992px) {
    .awards-slider-wrapper {
        margin-bottom: 100px;
        gap: 0px;
    }

    .award-slide .OurBenefetsCard {
        width: 99%;
        height: 274px;
    }

    .award-slide {
        flex: 0 0 100%;
        height: 330px;
        width: 100% !important;
    }

    .AwardsContainer {
        height: 350px;
    }

}