.student-container {
    margin: 0px 162px 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.student-card {
    width: 31.244%;
    max-height: 570px;
    height: 570px;
    padding: 50px;
    text-align: center;
    background-color: white;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border-radius: 12px;
    position: relative;

}

.student-card img {
    width: 79.94%;
    border: 2px solid  #262626;
    border-radius: 12px;
    margin-bottom: 40px;
    object-fit:cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.box {
    width: 125px;
    height: 384px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid #262626;
    border-top: none;
    background-color: #FFEFE5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.student-desc{
    margin-top: 365px;
}
.student-desc h3 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #1A1A1A;
}
.student-desc p{
font-weight: 500;
font-size: 20px;
text-align: center;
color: #4C4C4D;
}

@media (max-width:1440px){
    .student-container {
    margin: 0px 80px 150px;
    gap: 30px;
}

.student-card {
    max-height: 433px;
    height: 433px;
    padding: 40px;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
    border-radius: 10px;
}

.student-card img {
height: 220px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.box {
    width: 103px;
    height:282px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.student-desc{
    margin-top: 260px;
}
.student-desc h3 {

    font-size: 24px;;
    margin-bottom: 14px;
}
.student-desc p{
font-size: 16px;
}
}
@media (max-width:992px){
    .student-container {
    margin: 80px 16px 80px;
    gap: 40px;
    flex-direction: column;
}

.student-card {
    width: 100%;
    max-height: 368px;
    height: 368px;
    padding: 30px;
}

.student-card img {
height: 191px;
    margin-bottom: 20px;
}

.box {
    width: 93px;
    height:237px;
}
.student-desc{
    margin-top: 230px;
}
.student-desc h3 {
    font-size: 22px;;
    margin-bottom: 10px;
}
}
