.history-container {
    padding: 150px;
    margin-bottom: 100px;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border-radius: 12px;
    background-color: white;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.history-card {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
}

.history-card::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -15%;
    transform: translateY(50%);
    width: 2px;
    height: 150%;
    background-color: #000000;
    outline: 5px solid #FFBE99;
}

.history-line-container {
    display: flex;
    align-items: center;
}

.history-line {
    width: 12.2767%;
    min-width: 55px;
    background-color: #000000;
    height: 2px;
    outline: 5px solid #FFBE99;
    position: relative;
}

.history-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 50%;
}

.history-line::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 50%;
}

.history-card:last-child::before {
    width: 0px !important;
    height: 0px !important;
}

.year-card {
    padding: 30px 50px;
    border: 2px solid #262626;
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.year-card img {
    width: 87.309px;
    height: 87.309px;
}

.year-card h3 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 68px;
    line-height: 130%;
    color: #1A1A1A;
}

.sub-container-history h3 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.sub-container-history p {
    font-family: Outfit;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

@media (max-width: 1440px) {
    .history-container {
        padding: 100px;
        margin-bottom: 80px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;

    }

    .history {
        gap: 80px;
    }

    .history-card {
        gap: 40px;
        /* position: relative; */
    }

    .year-card {
        padding: 24px 34px;
        border-radius: 10px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;
    }

    .year-card img {
        width: 60px;
        height: 60px;
    }

    .year-card h3 {
        font-size: 48px;
    }

    .sub-container-history h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .sub-container-history p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .history-container {
        padding: 50px 10px 50px 20px;
        margin-bottom: 100px;
    }

    .history {
        flex-direction: column;
        gap: 50px;
    }

    .history-card {
        margin: 0px 20px;
        gap: 40px;
        flex-direction: column;
        align-items: flex-start;

    }
.history-card::before{
    top:-49%;
    height: 120%;
    
}
.history-line {
min-width: 30px};

    .year-card {
        padding: 20px 24px;
    }

    .year-card img {
        width: 50px;
        height: 50px;
    }

    .year-card h3 {
        font-size: 38px;
    }
    .sub-container-history{
        margin-left: 20px;
    }

    .sub-container-history h3 {
        font-size: 22px;
        margin-bottom: 12px;
    }

}