.Extracurricular {
    margin-bottom: 100px;
}

.sm-ExtracurContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
@media (max-width:1440px){
.Extracurricular {
    margin-bottom: 80px;
}

.sm-ExtracurContainer {
    gap: 30px;
}}
@media (max-width:992px){
.Extracurricular {
    margin-bottom: 100px;
}

.sm-ExtracurContainer {
    gap: 20px;
}}