.shared-hero {
    padding: 150px 120px;
    margin-bottom: 100px;
    border: 2px solid #262626;
    border-radius: 12px;
    box-shadow: 8px 8px 0px 1px #1E1E1E;
    position: relative;
}

.shared-hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.shared-hero .desc {
    max-width: 765px;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    text-align: start;
    margin-bottom: 50px;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-content {
    width: 100%;
    max-width: 765px;
}

.sub-hero {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sub-hero h2 {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 130%;
    color: #1A1A1A;
}

.hero-btn {
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #262626;
    border-radius: 8px;
    outline: none;
    background-color: white;
    color: #262626;
}
.sub-hero-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 1760px) {
    .shared-hero {
        padding: 100px 100px;
    }

    .shared-hero-img {
        width: 137px;
        height: 137px;
    }

    .shared-hero .desc {
        max-width: 535px;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .hero-content {
        max-width: 535px;
    }
    .sub-hero-buttons {
        gap: 16px;
    }
}


@media (max-width: 1440px) {

    .shared-hero {
        padding: 100px 80px;
        margin-bottom: 80px;
        border-radius: 10px;
        box-shadow: 6px 6px 0px 1px #1E1E1E;
    }

    .shared-hero-img {
        width: 137px;
        height: 137px;
    }

    .shared-hero .desc {
        width: 100%;
        max-width: 500px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .hero-content {
        max-width: 500px;
    }

    .hero-flex {
        gap: 30px;
    }

    .sub-hero {
        gap: 10px;
    }

    .sub-hero h2 {
        font-size: 38px;
    }

    .hero-btn {
        padding: 8px 16px;
        border-radius: 6px;
    }

    .sub-hero-buttons {
        gap: 14px;
    }
}

@media (max-width: 992px) {
    .shared-hero {
        padding: 50px 30px;
        margin-bottom: 100px;
    }
    .shared-hero-img {
        width: 100px;
        height: 100px;
    }

    .hero-flex {
        flex-direction: column;
        gap: 20px;
    }

    .hero-content {
        width: 100%;
        max-width: 100%;
    }

    .sub-hero {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .shared-hero .desc {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .sub-hero h2 {
        text-align: center;
        font-size: 28px;
    }
    .sub-hero-buttons {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .shared-hero {
        padding: 40px 20px;
    }

    .shared-hero-img {
        width: 80px;
        height: 80px;
    }

    .sub-hero h2 {
        font-size: 24px;
    }

    .sub-hero-buttons {
        grid-template-columns: 1fr;
        width: 100%;
    }
}